@{
}

<div class="navbar-nav ml-auto">
    @if (!string.IsNullOrEmpty(ViewBag.Username))
    {
        @await Component.InvokeAsync("Notifications")

        <span class="navbar-text text-success">
            ✓ Logged In as
            <a asp-controller="UserProfiles" asp-action="Edit" asp-route-id="@ViewBag.UserId">@ViewBag.Username</a>
        </span>
        <a class="nav-link" asp-controller="Auth" asp-action="Logout">Logout</a>
    }
    else
    {
        <span class="navbar-text text-warning">
            ✗ Not Logged In
        </span>
        <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
        <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>
    }
</div>